@page
@model MitbFrontEnd.Pages.Profile.MITB.IndexModel
@{
}

<partial name="_ProfileHeadNavPartial" />

<br />

<form asp-page="./Index" method="get">
    <div class="row">
        <div class="col">
            <div class="form-actions no-color">
                <p>
                    Find by name:
                    <input type="text" name="SearchString" value="Model.CurrentFilter" />
                    <input type="submit" value="Search" class="btn btn-primary" />
                    <a type="button" class="btn btn-secondary" asp-page="./Index">Back to full List</a>
                    <a type="button" class="btn btn-success" asp-page="Create">Create New</a>
                </p>
            </div>
        </div>
    </div>
</form>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="Model.NameSort"
                   asp-route-currentFilter="Model.CurrentFilter">
                    @*@Html.DisplayNameFor(model => model.Students[0].LastName)*@
                    Title
                </a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Students[0].FirstMidName)*@
                Short description
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="Model.DateSort"
                   asp-route-currentFilter="Model.CurrentFilter">
                    @*@Html.DisplayNameFor(model => model.Students[0].EnrollmentDate)*@
                    Creation Date
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model.Students)
        {*@
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.LastName)*@
                Some name
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.FirstMidName)*@
                Some short description
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.EnrollmentDate)*@
                2016-09-01
            </td>
            <td>
                <a type="button" class="btn btn-warning" asp-page="./Edit" asp-route-id="item.ID">Edit</a>
                <a type="button" class="btn btn-info" asp-page="./Details" asp-route-id="item.ID">Details</a>
                <a type="button" class="btn btn-danger" asp-page="./Delete" asp-route-id="item.ID">Delete</a>
            </td>
        </tr>
        @* This next trow must be deleted when enabling backend *@
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.LastName)*@
                Some name
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.FirstMidName)*@
                Some short description
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.EnrollmentDate)*@
                2016-09-01
            </td>
            <td>
                <a type="button" class="btn btn-warning" asp-page="./Edit" asp-route-id="item.ID">Edit</a>
                <a type="button" class="btn btn-info" asp-page="./Details" asp-route-id="item.ID">Details</a>
                <a type="button" class="btn btn-danger" asp-page="./Delete" asp-route-id="item.ID">Delete</a>
            </td>
        </tr>
        @*}*@
    </tbody>
</table>

@*@{
        var prevDisabled = !Model.Students.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Students.HasNextPage ? "disabled" : "";
    }

    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Students.PageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary @prevDisabled">
        Previous
    </a>

    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Students.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-primary @nextDisabled">
        Next
    </a>*@
